name: Flutter Web Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.5'

      - name: Set up Git with PAT
        run: git config --global url."https://${ secrets.GH_TOKEN }@github.com/".insteadOf "https://github.com/"

      - name: Disable Git Analytics
        run: flutter config --disable-analytics

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Set up Git with PAT
        run: git config --global url."https://${ secrets.GH_TOKEN }@github.com/".insteadOf "https://github.com/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/gh-pages@v3
        with:
          github_token: ${ secrets.GH_TOKEN }
          publish_dir: build/web
